
module.exports = {
  cookieName: 'admin.cookie.name',
  cookieValue: 'random.admin.cookie.value',
  userName: 'admin',
  userPass: 'admin.password.1234',
  mailer: {
    user: '',
    pass: ''
  }
};
