html
  head
    title Mr. Goferito
    link(href='/css/bootstrap.min.css', rel='stylesheet')
  body
    .container
      h2 WABP
      h4 A boilerplate for express 4 web apps by 
        a(href='//github.com/goferito') Mr. Goferito

