html
  head
    title WABP
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    .navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          a.navbar-brand(href='/') Logo
        .navbar-collapse.collapse
          ul#menu.nav.navbar-nav
            li#menu_pizzas: a(href='/pizzas') Pizzas
            li: a(href='/nowhere') Other Link


    .container#content
      block content
