extends layout

block content
  a#new.btn.btn-info(href='/pizzas/new') New Pizza
  br
  br
  h3 List of pizzas
  - if(!pizzas || !pizzas.length)
    i No registered pizzas
  - else
    table.table.table-striped.table-hover
      tr
        th Description
        th Hook
        th Redirection
        th(colspan=2) Options
      - each pizza in pizzas
        tr
          td=pizza.description
          td=pizza.hook
          td=pizza.redirect
          td
            a.btn.btn-warning.btn-xs(href='/pizzas/edit?id='+pizza._id) Edit
            span &nbsp;
            a.btn.btn-info.btn-xs(href='/reqs?id='+pizza._id) Reqs

